.box {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  min-height: 440px;
  width: 100vw;
}

@media only screen and (min-width: 920px) {
  .boxWrapper {
    display: flex;
    height: 100vh;
  }

  .box {
    display: flex;
    flex-direction: column;
    background: linear-gradient(180deg, #ffffff 0%, #f2f5fa 100%);
    width: 680px;
    min-height: 800px;
  }

  .desktopImage {
    flex: auto;
    height: 100%;
    background-image: url("/Images/image_summer-desktop.png");
    background-repeat: no-repeat;
  }
}
