.subscriptionForm {
  position: absolute;
  top: 146px;
  left: 20px;
  right: 20px;
}

.emailField {
  box-sizing: border-box;
  height: 60px;
  width: 100%;
  background: #ffffff;
  border: 1px solid #e3e3e4;
  border-left: 4px solid #4066a5;
  font-family: "Arial";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #6a707b;
  text-indent: 13px;
}

.submitButton {
  height: 100%;
  width: 62px;
  position: absolute;
  top: 0px;
  right: -4px;
  border: none;
  background: center no-repeat url("/Images/ic_arrow.svg");
  padding: 0;
}

.message {
  position: absolute;
  top: 65px;
  font-family: "Arial";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 12px;
}

@media only screen and (min-width: 920px) {
  .subscriptionForm {
    left: -20px;
    top: 145px;
  }

  .emailField {
    width: 663px;
    height: 70px;
    text-indent: 38px;
    padding-top: 4px;
  }

  .submitButton {
    top: 0px;
    right: 20px;
    border: none;
  }

  .message {
    top: 80px;  
    font-size: 16px;
    line-height: 12px;
  }
}
